nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav .left img {
    width: 100px;
    height: 50px;
}

nav .right, nav .left,
nav{
    display: flex;
    align-items: center;
}

nav .right{
    width: 250px;
    justify-content: space-evenly;
}

nav .right button {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 5px;

}

nav .right button:hover{
    background-color: white;
    color: black;
}

.nav-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.nav-hr {
    border-radius: none;
    border-top: 1px solid rgb(26,26, 26);
}

.add-icon:hover{
    transition: all 2s;
    transform: rotate(705deg);
}

.center {
    display: flex;
    width: 400px;
}
.search-user {
    border: 2px solid white;
    padding: 0px 10px;
    border-radius: 10px;
    width: 100%;
}